/* ESTILOS GENERALES */

  *{

    margin: 0;
    padding: 0;

  }

  body{

    font-family: Helvetica;

  }

  .contenedor{

    margin: 0 auto;

  }

/* MODAL */

  .DivPadre{

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30000;
    text-align: center;

  }

  .DivModal{

    background-color: #fff;
    width: 300px;
    height: auto;
    margin: 10vh auto 0 auto;
    padding: 10px;
    border-radius: 5px;

  }

  .botonModal{
    text-decoration: none;
    padding: 5px;
    width: 110px;
    margin: 10px 5px 5px 5px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #F77D48;
    border-radius: 6px;
    border: 2px solid rgb(240, 97, 36);
  }

  .inputModal{

    border: 1px solid #DBE1EB;
  font-size: 18px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  background: #FFFFFF;
  color: #2E3133;

  }

/* HEADER */

.header .top-header{

  padding: 6px 0;
  font-size: 24px;
  border-bottom: 1px solid #5A5A5A;
  background: #F77D48;
  overflow: hidden;

}

.header .top-header .contenedor .top-menu{

  float: left;
  margin-left: 5%;

}

.header .top-header .contenedor .top-menu ul{

  list-style: none;

}

.header .top-header .contenedor .top-menu ul li{

  float: left;

}

.header .top-header .contenedor .top-menu ul li a{

  text-decoration: none;
  color: #FFF;
  padding: 10px 15px;
  display: inline-block;

}

.header .top-header .contenedor .top-menu ul li a:hover{
/*  Este estilo se aplica cuando se coloca el mouse encima del elemento  */
  color: #000;

}

.header .top-header .contenedor .top-login{

  float: right;
  margin-right: 5%;

}

.header .top-header .contenedor .top-login li{

  list-style: none;
  float: right;

}

.header .top-header .contenedor .top-login li a{

  text-decoration: none;
  color: #FFF;
  padding: 10px 15px;
  display: inline-block;

}

.header .top-header .contenedor .top-login li a:hover{
/*  Este estilo se aplica cuando se coloca el mouse encima del elemento  */
  color: #000;

}

.titulo-blog{

  margin: 35px 0px 50px 0px;
  text-align: center;

}

.titulo-blog .contenedor h1 a{

  text-decoration: none;
  color: #363940;
  font-size: 60px;
  display: inline-block;
  padding: 10px 0;
  font-weight: 300;

}

.titulo-blog .contenedor h1 a:hover{

  color: #8b919c;

}

.titulo-blog .contenedor .subtitulo{

  font-size: 16px;
  letter-spacing: 1px;
  color: #9c9c9c;

}

/* MAIN */

/* BANNER */

.main .banner{

  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000000;

}

.main .banner .contenedor{

  width: 98%;

}

.main .banner .contenedor .banner-principal{

  width: 100%;

}

.main .banner .contenedor .banner-principal img{

  margin: auto 0 auto;
  width: 100%;
  height: 500px;

}

/* MENU */

.menu-principal{

  margin-bottom: 40px;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  text-align: center;
  padding: 10px 0;

}

.menu-principal .contenedor ul{

  list-style: none;
  display: block;
  margin: 0 auto;

}

.menu-principal .contenedor ul li{

  display: inline-block;

}

.menu-principal .contenedor ul li a{

  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #363940

}

.menu-principal .contenedor ul li a:hover{

  color: #8b919c

}

/* PRODUCTOS */

.productos{

  width: 90%;
  margin: 0 auto 40px auto;
  border: 1px solid #D8D8D8;

}

.productos .widget{

  background: #fff;
  padding: 10px;
  margin: 20px 25px 20px 25px;
  border: 1px solid #D8D8D8;
  display: inline-block;

}
.productos .widget .prod .foto-prod{

  text-align: center;
  margin-bottom: 10px;

}

.productos .widget .prod .foto-prod img{

  width: 200px;
  height: 200px;
  border-radius: 50%;

}

.productos .widget .prod .datos-prod{

  text-align: center;

}

.productos .widget .datos-prod .nombre{

  text-align: center;
  color: #363940;
  font-size: 26px;
  margin-bottom: 20px;

}

.productos .widget .prod .datos-prod .descripcion{

  color: #363940;
  font-size: 16px;
  margin-bottom: 10px;

}

.productos .widget .prod .datos-prod .precio{

  color: #363940;
  font-size: 16px;

}


/* FOOTER */

.footer{

  background: #fff;
  padding: 40px;
  border: 1px solid #f0f0f0;
  text-align: center;
  color: #9c9c9c;

}
